<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MEMO</title>
    <script
            src="https://kit.fontawesome.com/998e6e9dfd.js"
            crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="outer">
    <section class="top">
        <div class="memo">Memo</div>
    </section>
    <section class="middle">
        <div class="all-list">
            <div th:each="memo : ${memos}" class="list">

                <div class="title-wrapper">

                    <form method="post" class="title" th:action="@{/memos/{id}/toggle(id=${memo.id})}" th:classappend="${memo.check} ? ' completed'">
                        <button type="submit" class="check" th:classappend="${memo.check} ? ' checked'">
                            <i class="fa fa-regular fa-circle" th:if="${!memo.check}"></i>
                            <i class="fa fa-circle-check" th:if="${memo.check}"></i>
                        </button>

                        <span th:text="${memo.content}" class="memo-content"></span>
                    </form>

                    <div class="btn-group">
                        <a class="edit" th:href="@{/memos/{id}/edit(id=${memo.id})}">
                            <i class="fa fa-pen"></i>
                        </a>

                        <form method="post" th:action="@{/memos/{id}/delete(id=${memo.id})}">
                            <input type="hidden" name="id" th:value="${memo.id}" />
                            <button type="submit" class="delete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="end">
        <form method="post" th:action class="write" th:object="${memoSaveForm}">
            <div class="form-group">
                <input type="text"
                       class="text"
                       placeholder="메모를 입력하세요."
                       th:field="*{content}"
                       th:classappend="${#fields.hasErrors('content')} ? 'error' : ''"
                       autofocus />
                <div class="field-error" th:if="${#fields.hasErrors('content')}"
                     th:errors="*{content}">* 메모를 입력해주세요</div>
            </div>

            <button type="submit" class="item-add-button">
                <i class="fa fa-square-plus"></i>
            </button>
        </form>
    </section>
</div>
</body>
</html>