<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Memo</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/998e6e9dfd.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="outer">
    <section class="top">
        <div class="memo">Home</div>
    </section>

    <section class="middle">
        <div th:if="${error == 'fail'}">
            <p class="login-error">로그인 실패! 아이디 또는 비밀번호를 확인하세요.</p>
        </div>
        <div th:if="${error == 'expired'}">
            <p class="login-error">토큰이 만료되었습니다. 다시 로그인해주세요.</p>
        </div>

        <form th:action="@{/login}" method="post" th:object="${loginForm}" class="login-form">

            <div class="login-group">
                <label for="loginId" class="font">아이디</label>
                <input type="text" name="loginId" id="loginId" class="login-text" placeholder="아이디" autofocus />
            </div>

            <div class="login-group">
                <label for="password" class="font">비밀번호</label>
                <input type="password" name="password" id="password" class="login-text" placeholder="비밀번호" />
            </div>

            <button type="submit" class="login-btn">
                <i class="fa fa-sign-in-alt"></i> 로그인
            </button>
        </form>
        <form th:action="@{/login/no}" method="get">
            <button type="submit" class="noLogin-btn">
                <i class="fa fa-sign-in-alt"></i> 로그인 하지 않고 사용하기
            </button>
        </form>
        <hr>
        <div class="social-login">
            <a href="/oauth2/authorization/kakao">
                <img th:src="@{/image/kakao_login_medium_narrow.png}" alt="Kakao 로그인으로 계속하기"/>
            </a>
        </div>
    </section>

    <section class="end">
        <div class="write">
            <div class="signup-box">
                <p class="signup-message">💾 <strong>회원가입 시</strong> 메모가 <strong>영구 저장</strong>돼요!</p>
                <a th:href="@{/login/signup}" class="signup-btn">
                    <i class="fa fa-user-plus"></i> 회원가입
                </a>
            </div>
        </div>
    </section>
</div>


</body>
</html>
