<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MEMO EDIT</title>
    <script
            src="https://kit.fontawesome.com/998e6e9dfd.js"
            crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="outer">
    <section class="top">
        <div class="memo" th:text="${principalMemberName} + '\'s MEMO 😊'">Memo</div>
    </section>

    <section class="middle">
        <div class="all-list">
            <div th:each="memo : ${memos}" class="list">
                <div class="title-wrapper">

                    <form th:if="${memo.id == memoUpdateForm?.id}"
                          method="post"
                          th:action="@{/notepad/memos/{id}/edit(id=${memo.id})}"
                          th:object="${memoUpdateForm}"
                          class="title">

                        <button type="submit" class="check" th:classappend="${memo.isChecked} ? ' checked'" disabled>
                            <i class="fa fa-regular fa-circle" th:if="${!memo.isChecked}"></i>
                            <i class="fa fa-circle-check" th:if="${memo.isChecked}"></i>
                        </button>

                        <div class="form-group title-wrapper">
                            <input type="text"
                                   th:field="*{content}"
                                   class="edit-input"
                                   th:classappend="${#fields.hasErrors('content')} ? ' error' : ''"
                                   autofocus />
                            <div class="field-error" th:if="${#fields.hasErrors('content')}"
                                 th:errors="*{content}">* 메모를 입력해주세요</div>
                        </div>

                        <button type="submit" class="save">
                            <i class="fa fa-check"></i>
                        </button>
                    </form>

                    <div th:if="${memo.id != memoUpdateForm?.id}" class="title" th:classappend="${memo.isChecked} ? ' completed'">
                        <button type="button" class="check" th:classappend="${memo.isChecked} ? ' checked'" disabled>
                            <i class="fa fa-regular fa-circle" th:if="${!memo.isChecked}"></i>
                            <i class="fa fa-circle-check" th:if="${memo.isChecked}"></i>
                        </button>

                        <span th:text="${memo.content}" class="memo-content"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="back-button-wrapper">
            <button type="button" class="back-button" th:onclick="|location.href='@{/notepad/memos}'|">
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>

    </section>
    <section class="end">
        <form method="post" th:action class="write">
            <div class="form-group">
                <input type="text" class="text" name="content" placeholder="메모를 입력하세요." disabled>
                <button type="submit" class="item-add-button" disabled>
                    <i class="fa fa-square-plus"></i>
                </button>
            </div>
        </form>
    </section>
</div>
</body>
</html>
